.body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: "Regular";
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
    background-color: #ffffff;
}

.header-nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
}


.header-text {
    color: #2e2f42;
}

.top-line {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.top-line:hover,
.top-line:focus {
    background-color: #404BBF
}

.top-line-contacts {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.top-line-contacts:hover,
.top-line-contacts:focus {
    background-color: #404BBF
}

/* Section one */

.main {
    background-color: #2E2F42;
}

.main-headline {
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.main-button {
    background-color: #4d5ae5;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF
}
/* Section two */


/* Section three */

.our-team {
    color: #2e2f42;
    background: #F4F4FD;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;

}


/* Section four */


/* Footer */

.footer {
    background-color: #2E2F42;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-text {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
}